<div class="component__inner blank__inner">
  <input type="text" id="csvInput" name="csvInput" value="Enter CSV URL here">
</div>
 <div class="btn__container"></div>

  <button id="displayCsv">Convert to D3 Table</button>